@charset "utf-8";
html,body {
height: 100%;
}

header {
  position: relative;
  height: 100%;
  min-height: 600px;
  background: #000 url(../img/header.jpg) center center no-repeat;
  background-size: cover;
}
header::before {
  content:'';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
header .navbar {
  padding: 20px; 
}
header .logo {
  float: left;
  font-size: 32px;
  color: #ccc;
}
header .nav {
  float: right;
}
header .nav > li {
float: left;
margin: 10px;
}
header .nav a {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
}
header .nav a:hover {
  background: #f7ba3e;
}
header .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}
header .intro h2 {
  font-size: 32px;
}
header .intro h3 {
  font-size: 46px;
  margin-top: 20px;
}
header .intro .button {
  margin-top: 20px;
  display: inline-block;
}



section {
  margin-top: 30px;
  text-align: center;
}
section > h2 {
  font-size: 40px;
}
section > p {
margin-top: 10px;
}
section > ul .iconfont {
font-size: 60px;
color:#666;
}
section  .family-intro li {
float: left;
width: 33.33%;
padding: 10px 20px;
}
section > ul p {
  margin-top: 10px;
}
section .family figure {
  width: calc(33.33% - 20px);
  margin: 10px;
  float: left;
}
section .family a {
 display: block;
 height: 270px;
}
section .family img {
  width:100%;
  height:100%;
}
section .family figcaption {
font-size: 18px;
font-weight: bold;
margin-top: 10px;
}
section .family p {
  color: #666;
  margin-top: 10px;
}
section:nth-child(even) {
  background-color: #f7f7f7;
}

section .timeline > li {
  margin-top: 50px;
  position: relative;
}
section .timeline >li:nth-child(odd){
  padding-right: calc(50% - 68px);     /* 50%减去 图片宽度的一半*/
 text-align: right;
}
section .timeline > li::after {
  content:'';
  display: block;
  clear: both;
}
section .timeline img,
section .timeline .img {
  width:136px;
  height: 136px;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
}
section .timeline .img {
  padding: 25px;
  color: #fff;
  font-size: 17px;
  display: inline-block;
  text-align: center;
  background: #a0b6da;
}


 section .timeline> li:nth-child(odd)  dl {
  margin-right: 120px;
}
section .timeline > li:nth-child(odd)  img {
float: right;
}
section .timeline > li:nth-child(even) {
  padding-left: calc(50% - 68px);
  text-align: left;
}
 section .timeline > li:nth-child(even) dl {
  margin-right: 0;
  margin-left: 120px;
}
section .timeline > li:nth-child(even) img {
  float: left;
}
section .timeline dt {
  font-size: 16px;
  font-weight: bold;
}
section .timeline dd:nth-of-type(1) {
  font-weight: 700;
} 
section .timeline > li::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 136px;
  margin-left: 0px;
  display: inline-block;
  height: 50px;
  width: 2px;
  background-color: #f1f1f1;
}
section .timeline > li:last-child::before {
  height: 0;
}



.layout section:nth-child(4)  figure{
  margin-top: 30px;
}
.layout section:nth-child(4)  img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.layout section .list-icon>li {
  float: left;
  width:33.3%;
}
.layout section .row {
  margin: 0 auto;
}
.layout section .row p {
  text-align: center;
}


.layout aside {
    height: 90px;
    margin: 80px auto;
    display: block;
    text-align: center;
}
.layout aside>ul {
  text-align: center;
}
.layout aside .clients>li{
width: 25%;
float: left;
}


footer {
  position: relative;
  height: 100%;
  min-height: 600px;
  background-size: cover;
  background: url(../img/footer.jpg) no-repeat center center;
}
footer .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}
footer .intro h2 {
  font-size: 40px;
}
footer .intro h3 {
  font-size: 16px;
  margin-top: 20px;
}


form {
  width: 100%;
  margin:20px auto;
}

form .form-group {
  float: left;
  width: 47%;
}
.form .form-group input{
    width: 455px;
    height: 62px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 18px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #333;
  padding-left: 5px;
}

form .right-form {
  float: right;
  width: 47%;
}
form .right-form textarea{
  width: 455px;
  height: 206px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 22px 15px;
  border: 1px solid #ccc;
}
footer .intro .button {
  margin-top: 40px;
  display: inline-block;
}

.footer-container {
  height: 90px;
  line-height: 90px;
}
.footer-container ul {
  width: 90%;
  margin: 0 auto;
}
.footer-container li{
  float: left;
  width: 30%;
  margin-left: 20px;
  text-align: center;
}
.footer-container li:nth-child(2) a {
  width: 40px;
  height: 40px;
  background: #d5c7de;
  border-radius: 50%;
}
.footer-container li:last-child a {
color: #d5c7de;
}
.footer-container .iconfont {
  font-size: 24px  ;
}
.icon-yuanbao,
.icon-zhu {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: rgb(160, 60, 60);
}